Q7

In [14]:
# Imports
from selenium import webdriver
import pandas as pd 
import time
from selenium.common.exceptions import NoSuchElementException    # Importing Exception

In [15]:
driver=webdriver.Chrome("chromedriver.exe") 

time.sleep(4)



url = "https://www.naukri.com/"

driver.get(url)

In [23]:
## Fetching urls
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

In [24]:
len(urls)

20

In [25]:
urls

['https://www.naukri.com/job-listings-data-engineers-data-scientist-and-sap-teamware-solutions-bangalore-bengaluru-7-to-10-years-300721500677?src=jobsearchDesk&sid=16278324237128677&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-associate-data-scientist-novotree-minds-consulting-pvt-limited-bangalore-bengaluru-4-to-7-years-300721001832?src=jobsearchDesk&sid=16278324237128677&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-260721907182?src=jobsearchDesk&sid=16278324237128677&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-l-a-consultancy-kochi-cochin-hyderabad-secunderabad-pune-chennai-delhi-ncr-bangalore-bengaluru-5-to-9-years-310721903849?src=jobsearchDesk&sid=16278324237128677&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-analyst-data-scientist-naukri-employer-services-bangalore-bengaluru-1-to-4-years-300721006074?src=jobsearchDesk&sid=16278324237128677&xp=5&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-randstad-india-pvt-ltd-bangalore-bengaluru-4-to-9-years-280721000424?src=jobsearchDesk&sid=16278324237128677&xp=6&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-execboardinasia-bangalore-bengaluru-5-to-10-years-310721500675?src=jobsearchDesk&sid=16278324237128677&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-senior-lead-superior-group-bangalore-bengaluru-6-to-11-years-260721501436?src=jobsearchDesk&sid=16278324237128677&xp=8&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-tensorflow-machine-learning-getinz-techno-services-mumbai-hyderabad-secunderabad-chennai-bangalore-bengaluru-7-to-10-years-250721900474?src=jobsearchDesk&sid=16278324237128677&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-cropin-technology-solutions-pvt-ltd-bangalore-bengaluru-2-to-3-years-310721500812?src=jobsearchDesk&sid=16278324237128677&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-image-processing-data-scientist-ky-technologies-and-training-services-hyderabad-secunderabad-bangalore-bengaluru-4-to-9-years-310721001231?src=jobsearchDesk&sid=16278324237128677&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-pixxel-bangalore-bengaluru-4-to-7-years-300721500933?src=jobsearchDesk&sid=16278324237128677&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-sql-catalyst-bangalore-bengaluru-2-to-7-years-030918900823?src=jobsearchDesk&sid=16278324237128677&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-quality-engineering-software-technologies-pvt-ltd-bangalore-bengaluru-4-to-8-years-310721501381?src=jobsearchDesk&sid=16278324237128677&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-software-engineer-data-scientist-ara-resources-bangalore-bengaluru-6-to-10-years-290721906399?src=jobsearchDesk&sid=16278324237128677&xp=15&px=1',
 'https://www.naukri.com/job-listings-hiring-for-data-scientist-tata-consultancy-services-ltd-bangalore-bengaluru-4-to-8-years-260721001825?src=jobsearchDesk&sid=16278324237128677&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-pandas-numpy-catalyst-bangalore-bengaluru-3-to-8-years-140121901824?src=jobsearchDesk&sid=16278324237128677&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-scientist-r-nlp-python-savantys-solutions-hyderabad-secunderabad-bangalore-bengaluru-5-to-10-years-180621908150?src=jobsearchDesk&sid=16278324237128677&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-machine-learning-catalyst-bangalore-bengaluru-2-to-7-years-150121904947?src=jobsearchDesk&sid=16278324237128677&xp=19&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-perform-group-bangalore-bengaluru-3-to-7-years-290721501445?src=jobsearchDesk&sid=16278324237128677&xp=20&px=1']

In [26]:
## defining variables
job_title=[]
job_description=[]
job_company=[]
job_location=[]

In [27]:
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    # fetching job title
    try:
        job=driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_title.append(job.text)
    except NoSuchElementException:
        job_title.append('_')
        
    #fetching job description
    try:
        job_desc=driver.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(job_desc.text)
    except:
        job_description.append('_')
        
    #fetching job company
    try:
        job_com=driver.find_element_by_xpath("//div[@class='jd-header-comp-name']")
        job_company.append(job_com.text)
    except:
        job_company.append('_')
        
    #fetching job location
    try:
        job_loc=driver.find_element_by_xpath("//div[@class='loc']")
        job_location.append(job_loc.text)
    except:
        job_location.append('_')

In [30]:
print(len(job_title))
print(len(job_description))
print(len(job_location))
print(len(job_company))

10
10
10
10

In [31]:
# import pandas as pd 
job=pd.DataFrame({})
job['Names']=job_title
job['company']=job_company
job['location']=job_location
job['description']=job_description

In [32]:
job

,Names,company,location,description
0,"Data Engineers , Data Scientist and SAP",Teamware Solutions4.2(131 Reviews),Bangalore/Bengaluru,Job description\nDynamic recruiting profession...
1,Senior Associate - Data Scientist,Novotree Minds Consulting Pvt Limited,Bangalore/Bengaluru,Job description\nRoles and Responsibilities\nA...
2,_,_,_,_
3,Senior Data Scientist,L A Consultancy,"Kochi/Cochin, Hyderabad/Secunderabad, Pune, Ch...",Job description\nKey Requirements:\n• Data-ori...
4,Senior Analyst/Data Scientist,Naukri Premium - Employer Services,Bangalore/Bengaluru,Job description\nJob Description\n- Best in cl...
5,Senior Data Scientist,RANDSTAD INDIA PVT LTD4.1(1157 Reviews),Bangalore/Bengaluru,Job description\nRoles and Responsibilities\nJ...
6,Associate Data Scientist,ExecBoardinAsia,Bangalore/Bengaluru,Job description\nEngagement and collaboration ...
7,Data Scientist - Senior / Lead,Superior Group4.6(14 Reviews),Bangalore/Bengaluru,Job description\nResponsibilities:\nProvide ad...
8,Lead Data Scientist - Tensorflow/Machine Learning,Getinz Techno Services,"Mumbai, Hyderabad/Secunderabad, Chennai, Banga...",Job description\nHiring for B2B saas product c...
9,Data Scientist,CropIn Technology Solutions Pvt. Ltd.4.5(14 Re...,Bangalore/Bengaluru,Job description\nProblem We Are Solving\nThe w...

Q9

In [1]:
# Imports
from selenium import webdriver
import pandas as pd 
import time
from selenium.common.exceptions import NoSuchElementException    # Importing Exception

In [2]:
driver=webdriver.Chrome("chromedriver.exe") 

time.sleep(4)



url = "https://www.imdb.com/list/ls095964455/"

driver.get(url)

In [7]:
## Fetching urls
urls=[]
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a"):
    urls.append(i.get_attribute("href"))

In [8]:
len(urls)

100

In [9]:
urls

['https://www.imdb.com/title/tt0944947/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4574334/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1520211/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1837492/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2661044/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2372162/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt5420376/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0413573/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3107288/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2193021/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt6468322/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0898266/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2085059/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1475582/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2306299/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1578873/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1405406/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1844624/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0903747/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4052886/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0460681/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0455275/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3205802/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1567432/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0096697/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1843230/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2707408/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3322312/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0108778/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0460649/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1632701/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4158110/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2632424/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4016454/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0397442/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2431438/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3749900/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0475784/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2357547/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1442437/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2861424/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4145054/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt6257970/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1856010/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt5753856/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt7134908/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt7767422/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1586680/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1826940/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2364582/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt7335184/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0773262/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3743822/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0182576/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2741602/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0411008/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2442560/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0412142/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4428122/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2234222/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1796960/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4474344/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4532368/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt5834204/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt7569592/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt6470478/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3566726/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1327801/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0121955/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2467372/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1553656/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1312171/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2356777/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4635282/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0410975/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3032476/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2188671/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt5675620/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt6315640/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt6128300/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt5555260/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4955642/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3322310/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt6656238/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt5290382/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1837642/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3322314/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1837576/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4230076/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3920596/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt6487482/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1196946/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4786824/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt7366338/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3501584/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2710394/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4834206/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0452046/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3921180/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt6763664/?ref_=ttls_li_tt']

In [11]:
## defining variables
movie_title=[]
movie_span=[]
movie_runtime=[]
movie_vote=[]
movie_genre=[]
movie_rating=[]

In [12]:
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    
    # fetching movie title
    try:
        movie=driver.find_element_by_xpath("//h1[@class='TitleHeader__TitleText-sc-1wu6n3d-0 dxSWFG']")
        movie_title.append(movie.text)
    except NoSuchElementException:
        movie_title.append('_')
        
    #fetching movie year of span
    try:
        movie_spa=driver.find_element_by_xpath("//span[@class='TitleBlockMetaData__ListItemText-sc-12ein40-2 jedhex']")
        movie_span.append(movie_spa.text)
    except:
        movie_span.append('_')
        
    #fetching movie genre
    try:
        movie_gen=driver.find_element_by_xpath("//div[@class='ipc-chip-list GenresAndPlot__GenresChipList-cum89p-4 gtBDBL']")
        movie_genre.append(movie_gen.text)
    except:
        movie_genre.append('_')
        
    #fetching movie rating
    try:
        movie_rat=driver.find_element_by_xpath("//div[@class='AggregateRatingButton__ContentWrap-sc-1ll29m0-0 hmJkIS']//div[1]//span[1]")
        movie_rating.append(movie_rat.text)
    except:
        movie_rating.append('_')
        
    #fetching movie runtime
    try:
        movie_run=driver.find_element_by_xpath("//ul[@class='ipc-inline-list ipc-inline-list--show-dividers TitleBlockMetaData__MetaDataList-sc-12ein40-0 dxizHm baseAlt']//li[4]")
        movie_runtime.append(movie_run.text)
    except:
        movie_runtime.append('_')

In [13]:
print(len(movie_title))
print(len(movie_rating))
print(len(movie_span))
print(len(movie_genre))

10
10
10
10

In [17]:
movie_runtime

['57min',
 '51min',
 '44min',
 '1h',
 '43min',
 '59min',
 '45min',
 '41min',
 '43min',
 '42min']

In [18]:
movie_span = []
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
        
    #fetching movie year of span
    try:
        movie_spa=driver.find_element_by_xpath("//ul[@class='ipc-inline-list ipc-inline-list--show-dividers TitleBlockMetaData__MetaDataList-sc-12ein40-0 dxizHm baseAlt']//li[2]//a")
        movie_span.append(movie_spa.text)
    except:
        movie_span.append('_')
        
movie_span

['2011–2019',
 '2016–',
 '2010–2022',
 '2017–2020',
 '2014–2020',
 '2013–2019',
 '2017–',
 '2005–',
 '2014–',
 '2012–2020']

In [19]:
# import pandas as pd 
movie=pd.DataFrame({})
movie['Names']=movie_title
movie['rating']=movie_rating
movie['span']=movie_span
movie['genre']=movie_genre

In [20]:
movie

              Names rating       span                     genre
0   Game of Thrones    9.2  2011–2019  Action\nAdventure\nDrama
1   Stranger Things    8.7      2016–    Drama\nFantasy\nHorror
2  The Walking Dead    8.2  2010–2022   Drama\nHorror\nThriller
3    13 Reasons Why    7.6  2017–2020  Drama\nMystery\nThriller
4           The 100    7.6  2014–2020    Drama\nMystery\nSci-Fi
5                 _    8.0  2013–2019      Comedy\nCrime\nDrama
6         Riverdale    6.8      2017–     Crime\nDrama\nMystery
7    Grey's Anatomy    7.5      2005–            Drama\nRomance
8         The Flash    7.6      2014–  Action\nAdventure\nDrama
9             Arrow    7.5  2012–2020  Action\nAdventure\nCrime

Q6

In [1]:
# Imports
from selenium import webdriver
import pandas as pd 
import time
from selenium.common.exceptions import NoSuchElementException    # Importing Exception

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# Opening the billboard
url = "https://www.billboard.com/"
driver.get(url)
time.sleep(2)


#clicking the hot 100 songs link
charts=driver.find_element_by_xpath("//ul[@class='header__subnav__list display--flex flex--left-center flex-md--center-center']//li[3]//a")
try:
    charts.click()
except ElementNotInteractableException:
    driver.get(charts.get_attribute('href'))

In [19]:
len(url)

26

In [3]:
## defining variables
song_title=[]
song_artist=[]
song_lastweek=[]
song_peakrank=[]
song_weeksonboard=[]

In [7]:
for i in url[:10]:
    
    # fetching song title
    try:
        song=driver.find_element_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
        song_title.append(song.text)
    except NoSuchElementException:
        song_title.append('_')

In [8]:
song_title

['_',
 '_',
 '_',
 '_',
 '_',
 '_',
 '_',
 '_',
 '_',
 '_',
 'Butter',
 'Butter',
 'Butter',
 'Butter',
 'Butter',
 'Butter',
 'Butter',
 'Butter',
 'Butter',
 'Butter']

Q1

In [9]:
# Imports
from selenium import webdriver
import pandas as pd 
import time
from selenium.common.exceptions import NoSuchElementException    # Importing Exception

In [10]:
driver=webdriver.Chrome("chromedriver.exe") 

time.sleep(4)



url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"

driver.get(url)

In [11]:
## Fetching urls
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='mw-redirect']"):
    urls.append(i.get_attribute("href"))

In [12]:
len(urls)

22

In [13]:
urls

['https://en.wikipedia.org/wiki/Music_videos',
 'https://en.wikipedia.org/wiki/Baby_Shark_Dance',
 'https://en.wikipedia.org/wiki/Baby_Shark_Dance',
 'https://en.wikipedia.org/wiki/Baby_Shark_Dance',
 'https://en.wikipedia.org/wiki/Cocomelon_%E2%80%93_Nursery_Rhymes',
 'https://en.wikipedia.org/wiki/Cocomelon_%E2%80%93_Nursery_Rhymes',
 'https://en.wikipedia.org/wiki/Cocomelon_%E2%80%93_Nursery_Rhymes',
 'https://en.wikipedia.org/wiki/I%27m_a_Gummy_Bear_(The_Gummy_Bear_Song)',
 'https://en.wikipedia.org/wiki/Fueled_By_Ramen',
 'https://en.wikipedia.org/wiki/I%27m_a_Gummy_Bear_(The_Gummy_Bear_Song)',
 'https://en.wikipedia.org/wiki/I%27m_a_Gummy_Bear_(The_Gummy_Bear_Song)',
 'https://en.wikipedia.org/wiki/Baby_Shark_Dance',
 'https://en.wikipedia.org/wiki/Closer_(Chainsmokers_song)',
 'https://en.wikipedia.org/wiki/Cocomelon_%E2%80%93_Nursery_Rhymes',
 'https://en.wikipedia.org/wiki/Cocomelon_%E2%80%93_Nursery_Rhymes',
 'https://en.wikipedia.org/wiki/Baby_Shark_Dance',
 'https://en.wikipedia.org/wiki/List_of_most-viewed_online_trailers_in_the_first_24_hours',
 'https://en.wikipedia.org/wiki/Geolocation_software#Regional_licensing',
 'https://en.wikipedia.org/wiki/Geolocation_software#Regional_licensing',
 'https://en.wikipedia.org/wiki/Wired_(website)',
 'https://en.wikipedia.org/wiki/Criticism_of_YouTube',
 'https://en.wikipedia.org/wiki/Censorship_by_YouTube']

In [17]:
## defining variables
video_title=[]
video_year=[]

In [18]:
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    # fetching video title
    try:
        video=driver.find_element_by_xpath("//a[@class='mw-redirect']")
        video_title.append(video.text)
    except NoSuchElementException:
        video_title.append('_')
        
    #fetching job description
    try:
        video_yea=driver.find_element_by_xpath("//td[@class='infobox-data plainlist']")
        video_year.append(video_yea.text)
    except:
        video_year.append('_')

In [20]:
video_year

['_', '_', '_', '_', '_', '_', '_', '2006', '_', '2006']